.heading{
  background-color: white;
  font-size: 36px;
  font-family: "Lucida Handwriting Std", Verdana, serif;
  color: black;
  font-weight: bold;
  text-align: center;
  border: 2px double black;
  margin-left: 300px;
  width: 300px;
}

a{
  color: blue;
}

.ingredients{
  background-color: rgb(10, 10, 250);
  text-align: center;
  font-family: Verdana, serif;
  font-weight: bold;
}

.steps{
  background-color: rgb(255, 50, 10);
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 24px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link{
  display: block;
  text-align: center;
}

.frango{
  background-color: rgb(255, 100, 255);
  padding: 10px;
  border: 2px solid black;
  width: 150px;
}

.lasanha{
  background-color: rgb(255, 255, 100);
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-left: 700px;
}

.torta{
  background-color: rgb(100, 255, 255);
  padding: 5px;
  border: 2px solid black;
  margin: 2px;
  margin-left: 320px;
  width: 150px;
}
